.main {
text-align: center;
  font-size: small;
  display: block;
  margin: 0 auto;
}
.centered {
  margin-left: 325px;
}
#searchbar {
  width: 584px;
  height: 36px;
  top: 311px;
  margin-top: 0;
  margin-bottom: 36px;
}
#logo {
  font-size: small;
  padding-top: 109px;
    width: 272px;
    height: 92px;
    margin-top: 109px;
      margin-bottom: 35px;
      text-align: center;
}
.gmail, .images, .apps {
  font-family: ariel;
  float: right;
  font-size: 13px;
  margin-top: 5px;
}

.button {
background-color: #4387fd;
color: white;
border: 1px solid;
height: 30px;
margin-right: 15px;
}
#gmail {
  padding-left: 15px;
  padding-right: 15px;
}
#images {
  padding-left: 15px;
  padding-right: 15px;
}
#apps {
  padding-left: 15px;
  padding-right: 15px;

}
#button {
  padding-left: 15px;
  padding-right: 15px;
}
#goto {
text-align: center;

}
#google #lucky {
  border: 1px solid;
  height: 34px;
  padding: 40px;
  
}
