.main {
  position: relative;
  text-align: center;
  font-size: small;
  display:block;
  margin: 0 auto;

}
.logo {
  margin-bottom: 35px;
}


#searchbar {
  width: 584px;
  height: 36px;
  top: 311px;
  margin-top: 0;
}
#logo {
font-size: small;
padding-top: 109px;
top: 50%;
  width: 272px;
  height: 92px;
}
